.client-chat {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color-01);

    display: flex;
    flex-direction: column;

    border-right: 1px solid;
    border-color: var(--secondary-color-02);
}

.client-chat h2 {
    padding: 16px;
    background-color: var(--primary-color-01);
}

.chat-input-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.chat-message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: var(--primary-color-01);
}

.chat-message-input input {
    width: 100%;
}

.chat-message-input input::placeholder {
    font-size: 14px;
}

.chat-message-input :nth-child(n) {
    outline: none;
    padding: 16px;
}

.chat-messages-list {
    position: relative;
    height: calc(100vh - 190px);
}

.chat-messages-list ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    list-style: none;
}

.chat-messages-list ul li {
    margin-bottom: 10px;
}